// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

* {
    box-sizing: border-box;
}

body {
    height: 100%;
}


.myPad {
    margin-top: 15vh;
}

.myPads {
    margin-top: 9vh;
}

.myPads1 {
    margin-top: 3vh;
}

.myFont {
    font-size: 14px !important;
}