<ion-header>
	<ion-toolbar>
		<ion-title>Register</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label position="floating">Email</ion-label>
			<ion-input type="email" [(ngModel)]="email"></ion-input>
		</ion-item>
		<!-- <small padding *ngIf="" style="color:red">
			Email not valid
		</small> -->

		<ion-item>
			<ion-label position="floating">Password</ion-label>
			<ion-input type="password" [(ngModel)]="password" minlength="6"></ion-input>
		</ion-item>
		<small padding>Password must be at least 6 characters</small>

		<ion-item>
			<ion-label position="floating">Confirm Password</ion-label>
			<ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
		</ion-item>
		<small padding *ngIf="password !== confirmPassword" style="color:red">
			Passwords do not match
		</small>
	</ion-list>
	<ion-button fill="solid" expand="block" color="primary" (click)="onRegister()"
	[disabled]="password !== confirmPassword || !email">Sign Up</ion-button>

	<small padding class="ion-text-center">
		<h6>
			Have an account already?? 
			<a routerLink="/login" class="myLink"> Sign in </a>
		</h6>
	</small>
</ion-content>